#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Abril Fatface", cursive;
  background-color: #E3E1DB;
}

a {
  color: #fff;
}

.col-form-label {
  padding-bottom: 0;
  padding-top: 5px;
}

.auth-title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.main-content-style {
  color: #A8AD00;
  text-shadow: 1px 1px 0 #fff;
}

.navbar-nav > .nav-item > .nav-btn-style {
  background-color: #fff;
}

.form-group {
  margin-bottom: 0;
}

.auth-btn {
  border: 3px solid #9A3325;
  background-color: #9A3325;
  color: #fff;
  font-weight: bold;
}

.auth-btn:hover {
  border: 3px solid #9A3325;
  background-color: #fff;
  color: #9A3325;
  font-weight: bold;
}

