#home {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #E3E1DB;
  font-family: "Abril Fatface", cursive;
}

.global-menu {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 10px;
}

.global-menu__main {
  padding: 0;
  margin: 0;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.global-menu__item {
  list-style: none;
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
}

.menu-anime {
  transform: none;
  opacity: 1;
}

.mobile-link {
  display: block;
  margin-top: 30px;
  color: #A8AD00;
  text-decoration: none;
}

.main-title {
  font-weight: bold;
  font-size: 45px;
  text-shadow: 3px 3px 0 #fff;
}

.sub-title {
  display: block;
  font-size: 25px;
  text-shadow: 3px 3px 0 #fff;
}

.contents {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  color: #000;
  background: rgba(220, 220, 220, 0.2);
  background-image: url(/images/home_img.jpg?428ad668ccd9134cd65d504e60733973);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}

.menu-open {
  transform: translateY(-300px);
  box-shadow: 0 -8px 40px rgba(0, 0, 0, 0.8);
  background-color: 0 0 0 0.8;
}

.contents-cover {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(220, 220, 220, 0.2);
}

.menuBtn {
  position: absolute;
  background-color: transparent;
  bottom: 5%;
  right: 5%;
  border: none;
  z-index: 2000;
}

.menuBtn > p {
  font-size: 2em;
  text-shadow: 1px 1px 0 #fff;
}

.menuBtn > span {
  background-color: black;
  width: 100px;
  height: 8px;
  display: block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 0 #fff;
}

.menuBtn > span:last-child {
  margin-bottom: 0;
}

.homeTitles {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 32%;
  z-index: 1500;
  text-shadow: 5px 5px 0 #fff;
}

.homeTitles > h1 {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  font-size: 8em;
}

.homeTitles > h1 > span {
  color: #F06292;
}

.homeTitles > p {
  font-size: 3em;
}

