@charset "UTF-8";

.container-fluid {
  width: 100%;
  height: 100vh;
  background-color: #E3E1DB;
  position: relative;
  overflow: hidden;
  font-family: "Abril Fatface", cursive;
}

.btn-color {
  background-color: #9A3325;
  color: white;
  border: none;
}

.btn-color:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  cursor: pointer;
}

.content-cover {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

/* カレンダーテーブル画面 */

.calendar {
  color: #A8AD00;
  justify-content: center;
  text-shadow: 1px 1px 0 #fff;
}

.calendar-date {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.calendar-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.this-month {
  font-size: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  padding: 1px 0;
  color: #617129;
}

.this-month > span {
  display: block;
}

.this-month > span:nth-child(2) {
  font-size: 2.5em;
}

.arrow-pre {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-right: 10px solid #9A3325;
}

.arrow-next {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-left: 10px solid #9A3325;
}

.header-option {
  display: block;
  position: relative;
}

.header-option__btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.album > input[type=file] {
  display: none;
}

.album > input[type=file] + label {
  margin-top: 5px;
  margin-bottom: 0;
}

.month-img {
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 3px double black;
  margin-right: 5px;
}

.month-img > a > img {
  display: block;
  width: 100%;
  height: 100%;
}

.gray-layer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}

.over-layer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2100;
  transform: translate(-50%, -50%);
}

.calendar__table {
  width: 100%;
  max-width: 100%;
  height: 65vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.calendar__weekdays {
  width: 95%;
  border-bottom: 3px solid #9A3325;
  text-align: center;
  font-size: 0.5rem;
}

.calendar__weekdays > tr > th {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.other-week {
  opacity: 0.5;
}

tr[class^=week] > td {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

tr[class^=week] > td > p {
  position: absolute;
  left: 15%;
  top: 1%;
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.planCount {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
}

#swipe {
  position: absolute;
  top: auto;
  left: auto;
}

.calendar__days {
  font-size: 0.5rem;
}

.calendar__days > .week > td {
  position: relative;
  width: 50px;
  height: 55px;
  border: 1px solid;
}

.calendar__days > .week > td > .plan-item {
  display: inline-block;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

/* カレンダーフッター部分 */

.calendar-footer {
  width: 100%;
  height: 10vh;
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 0 #A8AD00;
  background-color: #9A3325;
}

.calendar-footer > p {
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 2px;
}

.option-btns {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.option-btns > button {
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #fff;
}

.option-btns > button:last-child {
  margin-right: 5px;
}

.option-btns > button > img {
  width: 65%;
  height: 65%;
}

.plan-list {
  width: 100%;
  height: 25vh;
  overflow: scroll;
  display: none;
  background-color: #fff;
}

.plan-list-items {
  width: 95%;
  height: 40px;
  padding: 5px 0;
  margin: 0 auto;
  display: flex;
  color: black;
  border-bottom: 1px solid gray;
}

.plan-list-color {
  width: 13px;
  height: 13px;
  margin-left: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
}

.plan-list-header {
  display: inline-flex;
  width: 23%;
  align-items: center;
  font-size: 10px;
}

.plan-list-times {
  display: block;
}

.plan-list-times > p {
  margin: 0;
}

.plan-list-title {
  display: inline-block;
  width: 60%;
  font-size: 12px;
}

.plan-list-title > p {
  width: 100%;
  line-height: 2.5;
  margin: 0;
}

.deletePlan {
  font-size: 10px;
  display: inline-block;
}

.holiday {
  display: inline-block;
  position: absolute;
  top: 65%;
  font-size: 10px;
  width: 25%;
  padding-left: 9px;
  background: transparent;
}

/* プロフィール一覧画面 */

.profile {
  width: 100%;
  height: 75vh;
  background-color: #fff;
  transition: all 0.7s;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -100%;
}

.open-profile {
  transition: all 0.7s;
  left: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.profile-top {
  background-color: #E3E1DB;
  color: #000;
}

.profile-top > h6 {
  font-weight: bold;
  padding: 15px;
  margin: 0;
}

.profile__info {
  position: relative;
  width: 100%;
}

.profile__img {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: 5px solid #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__img-top {
  width: 100%;
  height: 20vh;
}

.profilr__info-body {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1.5px;
}

.profilr__info-body > h6 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.profilr__info-body > p {
  font-size: 15px;
  color: gray;
  padding-bottom: 10px;
  margin: 0;
}

/* 予定追加画面(モーダル) */

.plan-form-content #add-plan {
  display: block;
}

#done-for-us {
  display: none;
}

.plan-form__title {
  background-color: #E3E1DB;
}

.plan-form__title > input[type=text] {
  background: transparent;
}

.plan-form__change-btn {
  width: 100%;
  position: relative;
  margin: 0;
}

.plan-form__change-btn > input {
  display: none;
}

.plan-form__change-btn > label {
  width: 50%;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  line-height: 2;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.plan-form__change-btn > label::before {
  content: "";
  transition: all 0.3s;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid;
  border-radius: 100px;
  left: 2px;
  top: 2px;
}

.plan-form__change-btn > input[type=checkbox] + label {
  background-color: white;
  color: #000;
}

.plan-form__change-btn > input[type=checkbox]:checked + label {
  background-color: black;
  color: #fff;
}

.plan-form__change-btn > input[type=checkbox]:checked + label::before {
  left: 123px;
}

/* 予定追加　→　色変更／いいね！ */

#like {
  display: none;
}

#color {
  display: block;
}

.subform {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.color-items > input[type=radio] {
  display: none;
}

.like-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

.like-items > input[type=radio] {
  display: none;
}

.like-items > input[type=radio] + label {
  opacity: 0.5;
}

input[type=radio] + label {
  display: block;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

input[type=radio]:checked ~ label {
  opacity: 1;
}

/* アカウント編集画面（モーダル） */

.edit-content {
  height: 65vh;
}

.edit-form {
  height: 100%;
}

.icon-info {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.icon-info > input[type=file] {
  display: none;
}

.icon-info > input[type=file] + .edit-form__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.icon-info > input[type=file] + .edit-form__bg > img {
  width: 100%;
  height: 100%;
}

.edit-form__icon {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30%;
  z-index: 1500;
}

.edit-form__items {
  position: absolute;
  top: 40%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.edit-form__items > label {
  margin: 2px 0 2px 20px;
}

/* 招待画面（モーダル） */

.modal-header {
  position: relative;
  height: 10vh;
  background-color: #E3E1DB;
  color: #000;
  padding: 0;
}

.modal-header > h5 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding: 0;
}

/* コメント一覧 */

.modal-header > h5 > span {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}

.coment-list > .card {
  color: #000;
}

.list-group-item > p {
  display: inline-block;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

.list-group-item > p.main-coment {
  display: block;
  font-size: 1.3em;
  padding: 5px;
}

.list-group-item {
  padding: 0;
  text-align: center;
}

.likes {
  float: right;
  position: relative;
  top: -8px;
}

.commentBody {
  height: 45vh;
  overflow: scroll;
  font-size: 13px;
  color: #000;
}

.comment-text {
  font-size: 15px;
}

