body {
  height: 100vh;
  width: 100%;
  background-color: skyblue;
  padding: 0;
  margin: 0;
}

.ballonPosition {
  width: 100%;
  height: 100%;
  position: relative;
}

.balloon {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50vh);
}
@for $i from 1 through 5 {
  .balloonAnimation:nth-child(#{$i}) {
    transition: all ease-out 5s;
    transition-delay: $i * 0.2s;
    transform: translate(random(650)*(-1px), -150vh);
  }
}
@for $i from 6 through 10 {
  .balloonAnimation:nth-child(#{$i}) {
    transition: all ease-out 5s;
    transition-delay: $i * 0.2s;
    transform: translate(random(650)+px, -150vh);
  }
}
