.calendar {
  height: 100vh;
}

.calendar__header {
  height: 7vh;
}

.calendar__nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  & .calendar__show {
    margin-top: 5px;
    font-size: 2em;
  }
}

.calendar-style {
  height: 85vh;
}

.c-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 15px;
}


// 下のやつは、あとで別のCSSに記述する。
input[type="checkbox"]#like-btn {
    appearance: none;
    width: 48px;
    height: 48px;
    background: url("public/img/like.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    opacity: 0.3;
    cursor: pointer;
}

input[type="checkbox"]#like-btn:checked {
  opacity: 1;
}
